<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <h3>Informacion General</h3>
        
        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: Node.js Developer" value="{{vacante.titulo}}" required>
        </div>

        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa contrata" value="{{vacante.empresa}}" required>
        </div>

        <div class="campo">
            <label>Ubicacion</label>
            <input type="text" name="ubicacion" placeholder="Ej: Argentina" value="{{vacante.ubicacion}}" required>
        </div>

        <div class="campo">
            <label>Salario</label>
            <input type="text" name="salario" placeholder="Pesos o dolares" value="{{vacante.salario}}" required>
        </div>

        <div class="campo">
            {{#tipoContrato vacante.contrato}}
            <label>Contrato</label>
            <select name="contrato">
                <option value="" disabled selected>--Selecciona--</option> 
                <option value="full-time">Full-Time</option>
                <option value="remoto">Remoto</option>
                <option value="por-proyecto">Por Proyecto</option>
            {{/tipoContrato}}
            </select>
        </div>

        <h3>Descripcion del puesto</h3>

        <div class="campo descripcion">
            <label>Requisitos</label>
            <trix-editor input="x"></trix-editor>
            <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
        </div>

        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#seleccionarSkills a}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>